---
import { featuredWorks } from "../dataset.json"
---

<section id="FeaturedWorks" class="w-full h-auto text-white mt-6 overflow-hidden my-24">
  <div class="overflow-hidden">
    <h5 class="featured-works-title w-full text-center font-tusker text-9xl font-bold my-8">Öne Çıkan İşler</h5>
  </div>
  <div class="flex flex-col lg:flex-row gap-2">
    {
      featuredWorks.map((work) => {
        return (
          <div class="featured-work flex flex-col items-center justify-center lg:w-1/2">
            <div class="w-full lg:h-full">
              <div class="h-full flex items-center justify-center">
                <img width="100%" height="100%" src={work.placeholderImg} alt={`${work.title}'s placeholder`} />
              </div>
            </div>
            <div class="grid my-auto p-4 text-center">
              <h4 class="font-tusker text-7xl md:text-8xl">{work.title}</h4>
              <p class="leading-relaxed lg:my-4 uppercase w-full text-ellipsis sm:whitespace-normal">{work.desc}</p>
              <a
                class="block mx-auto border-2 border-white px-4 py-2 rounded-full hover:bg-white hover:text-black hover:text-bold transition-all"
                href={work.redURL}
              >
                Projeye Git
              </a>
            </div>
          </div>
        )
      })
    }
  </div>
</section>
<script>
  import gsap from "gsap"
  import { ScrollTrigger } from "gsap/ScrollTrigger"
  gsap.registerPlugin(ScrollTrigger)
  const scrollTl = gsap.timeline({
    scrollTrigger: {
      trigger: "#FeaturedWorks",
      start: "top center",
      end: "center center",
      scrub: 1.2,
    },
  })
  scrollTl.from(".featured-works-title", {
    scale: 0.96,
    yPercent:160,
    opacity: 0.2,
  })
  scrollTl.from(".featured-work", {
    scale: 0.96,
    opacity: 0,
    stagger: 0.3,
  })
</script>
